* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
