.logo_section {
  background: var(--color-light-shades);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.logo_background {
  height: 100vh;
  object-fit: cover;
  opacity: 0.6;
  position: relative;
  width: 100%;
}

.logo_container {
  align-self: center;
  margin: .1rem;
  position: absolute;
  width: 100%;
}

.logo_image {
  width: 100%;
  height: fit-content;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  cursor: pointer;
  height: 26px;
  left: 20px;
  position: fixed;
  top: 20px;
  width: 26px;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  background-color: var(--color-light-accent);
  display: block;
  height: 2px;
  position: absolute;
  transition-duration: .25s;
  width: 100%;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  background-color: var(--color-Main-brand);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  display: block;
  height: 100%;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 80px 0;
  position: fixed;
  top: 0;
  transition-duration: .25s;
  width: 300px;
}

.menu__item {
  color: var(--color-light-accent);
  display: block;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 24px;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: var(--color-dark-accent);
}