@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600;700&family=Indie+Flower&display=swap');

:root {
  --header-height: 3rem;
  /* === colors pallete=== */
  --color-white: hsl(46, 27%, 90%); /*backgraund*/
  --color-black: hsl(35, 65%, 10%);
  --color-red: hsl(0, 60%, 50%);
  --color-brown-light: hsl(33, 49%, 68%);
  --color-brown: #c2996b;
  --color-brown-dark: #8a3324;

  /* === font and typography === */

  --body-font: 'Dosis', sans-serif;;
  --expecial-font: 'Indie Flower', cursive;

  /* .5rem=8px, 1rem=16px, 1.5rem=24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* font weight */
  --font-medium: 300;
  --font-semi-bold: 600;
  --font-bold: 700;
}

  /* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/* variables dark theme */
